//best seller course
.best-seller-title {
    @extend .top-course-title;
}

.subscribe-btn {
    @extend.viewMore;
}

.single-best-course {
    @extend .single-top-course;
}

.best-course-description {
    @extend .course-description;
    padding-right: 35px;
}

.best-course-img {
    @extend .course-img;
}

.best-course-overlay {
    @extend .overlay;
}

.best-course-price {
    @extend .course-price;

    a:last-child {
        color: #ab0534;
    }

}